* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

.quotes-container {
  text-align: center;
}

.quote {
  font-size: 20px;
}

.loading {
  text-align: center;
  font-size: 30px;
}

.navget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 10%;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul .tagColor:hover {
  color: red;
  transition: 0.5s ease;
  cursor: pointer;
}

.quotesget {
  margin: 50px 10%;
}
